{{#if user}}
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{article.title}}</h3>
    </div>
    <div class="panel-body">
      {{article.content}}
    </div>

    <div class="btn btn-group">
      {{#if canManipulate}}
        <a class="btn btn-default" href="/articles/{{article._id}}/edit">Edit Article</a>
        <form action="/articles/{{article.id}}/delete" method="post">
          <div class="form-group">
            <button type="submit" class="btn btn-danger">Remove Article</button>
          </div>
        </form>
      {{/if}}

      <a class="btn btn-warning pull-right" href="/comments/{{article._id}}">All comments</a>
    </div>

    <div>
      <div class="pull-right">
        <form action="/articles/{{article.id}}/updateGrade" method="post">
          <div class="form-group">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>

            <button type="submit" class="btn btn-success">Grade</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <a class="pull-right" href="/articles">Back</a>
  Created by {{creatorName}}
{{/if}}