{{#if user}}
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{article.title}}</h3>
    </div>
    <div class="panel-body">
      {{article.content}}
    </div>

    <div class="btn btn-group">
      {{#if canManipulate}}
        <a class="btn btn-default" href="/articles/{{article._id}}/edit">Edit Article</a>
        <form action="/articles/{{article.id}}/delete" method="post">
          <div class="form-group">
            <button type="submit" class="btn btn-danger">Remove Article</button>
          </div>
        </form>
      {{/if}}
    </div>

    <div>
      <div class="pull-right">
        {{#if currentUserMark}}
          <span>You Mark: {{currentUserMark}}</span>
          <span>Rating: {{rating}}</span>
        {{else}}
          <a href="/articles/{{article._id}}/updateGrade/1">
            <span class="glyphicon glyphicon-star"></span>
          </a>
          <a href="/articles/{{article._id}}/updateGrade/2">
            <span class="glyphicon glyphicon-star"></span>
          </a>
          <a href="/articles/{{article._id}}/updateGrade/3">
            <span class="glyphicon glyphicon-star"></span>
          </a>
          <a href="/articles/{{article._id}}/updateGrade/4">
            <span class="glyphicon glyphicon-star"></span>
          </a>
          <a href="/articles/{{article._id}}/updateGrade/5">
            <span class="glyphicon glyphicon-star"></span>
          </a>
        {{/if}}
      </div>
    </div>
  </div>

  <a class="pull-right" href="/articles">Back</a>
  <div class='current-user-info'>
    Created by
    {{#if creator}}
      <a href="/users/{{creator._id}}">{{creator.username}}</a>
    {{else}}
      DELETED
    {{/if}}
  </div>
  {{#if currentUserMark}}
    <div class='current-user-info'>
      Your mark {{currentUserMark}}
    </div>
  {{/if}}

  <div class="comments">
    {{#each comments}}
      <div class="comment">
        <div class='content'>
          {{this.comment.message}}
        </div>
        <div class='current-user-info'>
          By {{#if this.comment.userId}}
          <a href="/users/{{this.comment.userId}}">{{this.commenter.username}}</a>
        {{else}}
          DELETED
        {{/if}}
        </div>
      </div>
    {{/each}}

    <form method='post' action='/articles/{{article._id}}/comment'>
      <div class="form-group">
        <label>Message</label>
        <textarea type="text" class="form-control" placeholder="message" name="message">
        </textarea>
      </div>

      <input type="hidden" name="userId" value={{user.id}} />
      <input type="hidden" name="articleId" value={{articleId}} />
      <button type="submit" class="btn btn-info pull-right">Add a comment</button>
    </form>
  </div>
{{/if}}