{{#if user}}
  {{#if canManage}}
    <h1>Hello, {{user.username}}</h1>
    <li role="presentation"><a href="/users/{{user.id}}/edit">Edit Profile</a></li>

    <form action="/users/{{user.id}}/delete" method="post">
      <div class="form-group">
        <button type="submit" class="btn btn-danger">Delete Account</button>
      </div>
    </form>
  {{else}}
    <div>{{user.username}}</div>
    <div>{{user.email}}</div>
  {{/if}}

  <div class='articles'>
    <h2>All {{user.username}}'s articles</h2>
    {{#each articles}}
      <li><a href="/articles/{{_id}}">{{title}}</a></li>
    {{/each}}
  </div>
{{/if}}
